.top {
  display: flex;
  height: 100vh;
}

.pic {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.text {
  flex: 1;
}

.text-wrapper {
  padding: 50px;
}

.we {
  font-size: 60px;
  font-weight: 300;
  padding-top: 150px;
}

.j-img {
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.bg {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  background-color: purple;
  width: 101%;
  height: 90%;
  position: absolute;
  top: 0;
  left: 0;
}
