.navwrapper {
  margin-top: 2rem;
  display: flex;
  justify-items: center;
  justify-content: center;
  font-family: "Martel", serif;
}

.topright {
  font-size: 20px;
  margin-left: 85px;
  cursor: pointer;
}

.logo {
  width: 37vh;
}
