.mid {
  display: flex;
  height: 100vh;
}

.left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  flex: 1;
}

.wei-wrapper {
  padding: 50px;
}

.title-wrapper {
  padding: 50px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.spect {
  font-size: 70px;
  font-weight: 300;
}

.title {
  height: 50px;
  overflow: hidden;
}

.title-wrapper {
  height: 100%;
  animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-100px);
  }
  75% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(-200px);
  }
}

.title-item {
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: #f1c40f;
  display: flex;
  align-items: center;
}

.b-img {
  height: 100%;
  object-fit: cover;
  //   position: absolute;
}

.bud {
  font-size: 50px;
}
